*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.banner__descripcion{
  text-align: center;
  width: 100%;
  font-size: 15px;
  color: black;
  background: bisque;
  font-family:'Times New Roman', Times, serif;
}

body{
    font-family: "dancing", "pacifico";
    font-size: 1.2mm;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

    
}

@keyframes un_efecto{
  0%{ 
    width: 100px;
   }

   50%{
     background-color: yellow;
   }

  100% { 
    width: 200px;
    background-color: wheat;
  } 
}



.button__main{
    background: white ;
    border: none;
    padding: 12px;
    color: black;
    font-size: 20px;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  
  }


  
  .button__main:hover{
    border: 2px solid white;
    background: none;
    animation: un_efecto 1s linear 0s infinite;
    
  }


  .card{
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .detalle{
    font-size: 15px;
  }

  .footer{
    background: wheat;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 5mm;
    
}

.html{
    height: 100%;

}

.historia h2{
font-size: 10mm;
}

.banner2{
    height: 50vh;
    position: relative;
    background: url(../imagenes/Portada.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
  }
  
  .banner2 h1{
    font-size: 28px;
  }
  
  .banner2__descripcion{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }

  .banner3{
    height: 50vh;
    position: relative;
    background: url(../imagenes/dibujolibre.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
  }
  
  .banner3 h1{
    font-size: 28px;
  }
  
  .banner3__descripcion{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  
  .banner4{
    height: 50vh;
    position: relative;
    background: url(../imagenes/dibujo2.jpg);
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
  }
  
  .banner4 h1{
    font-size: 28px;
  }
  
  .banner4__descripcion{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }

  
.logo-compañia {
    display: flex;
    width: 50%;
    height: 350px;
    justify-content: left;

}
.mapa h2{
  color: black;
  font-size: 30px;
}

.mapa p{
  color: black;
  font-size: 20px;
}

.mapa{
  text-align: center;
}

.mapa-item{
  margin: 20px;

}

.nav-tabs {
  background-image: linear-gradient(wheat, pink);

 }

.navbar-brand:hover{
    background-color:white;
    transition: 0.5s;

}

.texto-inicio{
  text-align: center;
    display: flex;
      justify-content: center;
      background-image:linear-gradient( white, wheat, pink) ;
      font-size: 4.5mm;
}

.row{
  background-image:linear-gradient( white, wheat, pink)
}

#slider-home {
	margin-bottom: 50px;
}
.carousel-caption {
	background-color: rgba(41, 23, 1, 0.75);
	height: 100%;
	left: 0;
	top: 0;
	padding: 30px 45px;
	text-align: left;
	width: 340px;
}

	.carousel-caption p {
		font-size: 14px;
		line-height: 18px;
	}

	.carousel-caption h2 {
		font-size: 26px;
		line-height: 30px;
	}

	.carousel-caption .h4 {
		font-size: 20px;
		margin-bottom: 30px;
		margin-top: 8px;
	}

	.carousel-caption img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}

	.carousel-caption a {
		border-radius: 0;
		font-weight: bold;
		color: #291701;
		border: none;
	}

  .fab {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    }
    
    .fab:hover {
    opacity: 0.7;
    }
    
    .fa-whatsapp {
    background: #45bbff;
    color: white;
    }

    .templatemo_contacttitle {
      width: 100%;
      margin-bottom: 10px;
      font-size: 32px;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
  }
  
  .templatemo_sub_contacttitle {
      width: 100%;
      font-size: 22px;
      color: #91bf24;
      text-align: center;
      margin-bottom: 50px;
  }
  
  .templatemo_contact {
      margin: 30px;
      width: 100%;
      margin-left: 15%;
  }
  
  .templatemo_contactform input, textarea {
      width: 100%;
      background: #282828;
      border: 1px solid #393939;
      padding: 7px 10px;
      margin: 0px 0px 10px 0px;
      background-color: #FAFAFA;
  }
  
  .templatemo_contactform textarea {
      height: 100px;
  }
  
  
  .templatemo_contactform .btn-primary {
      background: #92bf24;
      border: none;
      border-radius: 0px;
      color: #3d5602;
      font-weight: 800;
  }
  
  .templatemo_contactform .btn-primary:hover {
      background: #a6d82c;
  }

  

